:root {
  --primary-color: #46ACC2,
  --secondary-color: #F4743B,
  --white-color: #FFFFFF,
  --background: #F5F5F5
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: var(--background);
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: var(--background);
}

body::-webkit-scrollbar-thumb
{
	background-color: #46ACC2;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}

.padding-navbar {
 padding: 0.5rem 1rem;
}

.icon {
  font-size: 2rem;
  color: var(--white-color);
}

.fa-ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0;
}

.fa-ul > li {
  position: relative;
}

.fa-li {
  position: absolute;
  left: -2em;
  text-align: center;
  width: 2em;
  line-height: inherit;
}

.m-right {
  margin-right: 0.5rem;
}

.ul-project {
  margin-left: 0rem;
}

